/*Body, everything is contained within it + global tags*/
body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1e2939;

    background: #faf5f586;
}
ul {
    padding-left: 15px;
}
ol {
    padding-left: 15px;
}
span {
    color: #fb6d3a;
}
a {
    color: #a8a8a8;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;

    width: 1200px;
    height: 1319px;

    justify-content: center;
    margin: 0 auto;

    background: #ffffff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

/*sidepanel, contact details, skill list and tech skill list*/
aside {
    height: 1319px;

    background-color: #1e2939;
}
.photo {
    width: 370px;
    height: 354px;

    margin: 30px 0px 10px 0px;

    border-radius: 20px;
    background-image: url(https://raw.githubusercontent.com/BieganskiP/My-Projects/main/photo.jpg);
}
.con {
    color: white;
    margin: 10px 20px 5px 20px;
    padding: 10px;
}
.skills1 {
    color: white;
    margin: 5px 20px 5px 20px;
    padding: 10px;
}
.skills2 {
    color: white;
    margin: 5px 20px 5px 20px;
    padding: 10px;
}
.skills3 {
    color: white;
    margin: 5px 20px 5px 20px;
    padding: 10px;
}

/*Main part of CV divided in to sections*/
.title {
    margin: 20px 40px 20px 40px;
    padding: 10px;
}
.about {
    margin: 10px 40px 10px 40px;
    padding: 10px;
}
.projects {
    margin: 10px 40px 10px 40px;
    padding: 10px;
}
.workexp {
    margin: 10px 40px 5px 40px;
    padding: 10px;
}
.workexp p {
    color: #a8a8a8;
    margin-top: -20px;
}
.edu {
    margin: 5px 40px 10px 40px;
    padding: 10px;
}
