/*Body, everything is contained within it + global tags*/
body {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #1e2939;

    background: #faf5f586;
}
ul {
    padding-left: 15px;
}
ol {
    padding-left: 15px;
}
a {
    color: #8e949c;
}
h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}
h2 {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
}
h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}
span {
    color: #fb6d3a;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;

    width: 1200px;
    height: 1319px;

    justify-content: center;
    margin: 0 auto;

    background: #ffffff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

/*Main part of CV divided in to sections*/
main {
    padding: 102px 88px;
}
.title {
    height: 220px;
    width: 500px;
    margin-bottom: 40px;
}
.title p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.job-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}
.projects {
    margin-bottom: 51px;
}
.project-item {
    font-weight: 800;
    color: #000000;
}
.project-item2 {
    color: #595959;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.work-exp p {
    color: #a8a8a8;
}
.job p {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}
.job li {
    color: #595959;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

/*sidepanel, contact details, skill list and tech skill list*/
aside {
    height: 1319px;
    width: 370px;
    color: white;
    background-color: #1e2939;
}
.photo {
    width: 370px;
    height: 354px;

    margin: 30px 0px 10px 0px;

    border-radius: 20px;
    background-image: url(https://raw.githubusercontent.com/BieganskiP/My-Projects/main/photo.jpg);
}
.contacts {
    margin: 10px 20px 5px 20px;
    padding: 10px;
}
.bold {
    font-weight: 700;
    color: #ffffff;
}
.skills {
    margin: 5px 20px;
    padding: 10px;
}
.skills img {
    margin-left: 20px;
}
.skills li {
    color: #fb6d3a;
}
.skills li span {
    color: #ffffff;
}
