/*Body, everything is contained within it + global tags*/

body {
    position: absolute;
    width: 1200px;
    height: 1319px;
    left: 400px;
    top: 40px;

    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    background: #ffffff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
h2 {
    text-decoration: underline;
}
ul {
    margin-top: -15px;
    padding-left: 15px;
}
ol {
    padding-left: 15px;
}
span {
    color: #fb6d3a;
}
a {
    color: #a8a8a8;
}

/*Introduction text formated below*/
.title {
    position: absolute;
    width: 400px;
    height: 230px;
    left: 500px;
    top: 100px;
}
.about {
    position: absolute;
    width: 400px;
    height: 230px;
    left: 500px;
    top: 200px;
}
.about p {
    margin-top: -5px;
}

/*Left and right bar are decoration on both sides*/
.leftbar {
    position: absolute;
    width: 40px;
    height: 1319px;
    background-color: #fb6d3a;
}
.rightbar {
    position: absolute;
    width: 40px;
    height: 1319px;
    left: 1160px;
    background-color: #fb6d3a;
}

/*sidepanel, contact details, skill list and tech skill list*/
.left {
    position: absolute;
    width: 370px;
    height: 1319px;
    margin-left: 40px;
    background-color: #1e2939;
}
.left h4 {
    text-decoration: underline;
}

/*Photo formating*/
.photo {
    position: absolute;
    width: 370px;
    height: 354px;
    top: 80px;
    border-radius: 20px;
    background-image: url(photo.jpg);
}
.con {
    position: absolute;
    top: 440px;
    left: 20px;
    color: white;
}
.con p {
    margin-top: -8px;
}
.skills1 {
    position: absolute;
    top: 600px;
    left: 20px;

    color: white;
    width: 200px;
    height: 300px;
}
.skills2 {
    position: absolute;
    top: 700px;
    left: 20px;

    color: white;
    width: 200px;
    height: 300px;
}

/*Main part of CV, everything is responsible for diffrenc sections*/
.projects {
    position: absolute;
    width: 400px;
    height: auto;
    left: 500px;
    top: 350px;
}
.workexp {
    position: absolute;
    width: 400px;
    height: 230px;
    left: 500px;
    top: 450px;
}
.edu {
    position: absolute;
    width: 400px;
    height: 230px;
    left: 500px;
    top: 850px;
}
